html, body {
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}

#header {
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 20px 40px;
}

#footer {
  background: #eee;
  border-top: 1px solid #eee;
  padding: 15px 40px;
}

#wrapper {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
}

.headline {
  font-size: 46px;
  padding-top: 30px;
  margin: 0;
  color: #333;
  line-height: 24px;
  font-weight: bold;
}

.letter {
  color: #0060ff;
  font-weight: normal;
}

.row svg {
  fill: #333;
  margin-left: auto;
  margin-right: auto;
  width: 1em;
  height: 1em;
  display: block;
  margin-bottom: 10px;
  font-size: 40px;
}

.row span {
  font-size: 11px;
  display: inline-block;
  padding: 0 0 10px;
}

.link {
  margin: 0 5px;
  text-decoration: none;
  color: #0060ff;
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  display: inline-block;
  text-transform: uppercase;
}

.button {
  margin: 35px 5px 5px;
  padding: 10px 15px;
  text-decoration: none;
  background: #0060ff;
  border: 1px solid #0060ff;
  border-radius: 2px;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  display: inline-block;
  text-transform: uppercase;
  min-width: 80px;
  text-align: center;
}

.button:hover {
  text-decoration: none;
  background: #fff;
  color: #0060ff;
}

.page-section {
  padding: 0 0 20px;
}

pre {
  overflow-x: auto;
  padding: 10px;
  border: 1px solid #0060ff;
  border-left-width: 5px;
  margin: 15px 0;
  background: #fff;
  white-space: pre;
  word-wrap: normal;
  font-size: 11px;
}

code {
  color: #0060ff;
}

.content {
  position: relative;
  box-sizing: border-box;
  min-height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  background: #ccc;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: #333;
  width: 100%;
}

.content .content {
  background: #999;
}

.content .content .content {
  background: #666;
}

.content-container {
  padding: 10px 10px 0 10px;
}

.content-large {
  min-height: 90px;
}

.table {
  border-collapse: collapse;
  background-color: transparent;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background: #fff;
}

.table td, .table th {
  padding: 10px;
  vertical-align: top;
  border-top: 1px solid #ccc;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #ccc;
}

.table-bordered {
  border: 1px solid #ccc;
}

.table-bordered thead th {
  border-bottom-width: 2px;
  border: 1px solid #ccc;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}